// Config

// Colors
//
$black						: #2e353b;
$medium-black				: #3e474f;
$light-black				: #576366;
$gray						: #60676d;
$light-gray					: #edeff0;
$white						: #FFF;
$blue						: #025697;
$gold						: #EFA91B;

// Color Assignment
//
$color--main-bg				: #E9E9E9;
$color--main-txt			: $black;

$color--star				: $gold;
$color--shield				: $blue;